header{
    position: fixed;
    width: 100%;
}
body{
    display: grid;
    max-height: 100vh;
    grid-template-rows: 0fr 1fr 0fr;
}
#mycouv a {
    width: 100%;
    min-height: 100vh;
    display: block;
}
.couv a:nth-child(1){
    background: url("/inc/img/couverture/couv_accueil/couv_one_piece.jpg");
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    margin-top: 117px;
}
.couv a:nth-child(2){
    background: url("/inc/img/couverture/couv_accueil/couv_dragon_ball.jpg");
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover ;
    margin-bottom: 20px;
}
.couv a:nth-child(3){
    background: url("/inc/img/couverture/couv_accueil/couv_naruto.jpg");
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover ;
    margin-bottom: 20px;
}
.couv a:nth-child(4){
    background: url("/inc/img/couverture/couv_accueil/couv_demon_slayer.jpg");
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover ;
    margin-bottom: 20px;
}
.couv a:nth-child(5){
    background: url("/inc/img/couverture/couv_accueil/couv_HxH.jpg");
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover ;
    margin-bottom: 20px;
}
.couv a:nth-child(6){
    background: url("/inc/img/couverture/couv_accueil/couv_snk.jpg");
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover ;
    margin-bottom: 20px;
}
.couv a:nth-child(7){
    background: url("/inc/img/couverture/couv_accueil/couv_bleach.jpg");
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover ;
    margin-bottom: 20px;
}
.couv a:nth-child(8){
    background: url("/inc/img/couverture/couv_accueil/couv_jujutsu_kaisen.jpg");
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover ;
}

