.racnav {
    background-color: #7694FF;
    display: flex;
    justify-content: space-around;
    padding: 12px 14px;
}
.racnav a{
    color: #FFFFFF;
}
.racnav a.icon{
  display: none;
}

 @media screen and (max-width: 768px) {
    .racnav a {
      display: none;
    }
    .racnav a.icon {
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .racnav.responsive {
      position: relative;
    }
    .racnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .racnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
